footer{
	background-color: #111;
	text-align: center;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color:rgba(151, 151, 151,0.6);
	padding-top:10px;
	padding-bottom:8px;
	width:100%;
	font-size: 14px;
 }