footer {
  background-color: #111;
  text-align: center;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: rgba(151, 151, 151, 0.6);
  padding-top: 10px;
  padding-bottom: 8px;
  width: 100%;
  font-size: 14px;
}

h1,
h2,
td {
  color: rgb(253, 0, 0);
  padding: 10px;
}

@keyframes zoom {
  to {
    transform: scale(0.1);
  }
}

.glows {
  animation: glow 0.5s infinite alternate;
}
@keyframes glow {
  to {
    text-shadow: 0 0 15px #ff0000, 0 0 15px #f50057;
  }
}
img {
  border-radius: 25px;
}

.align {
  margin-left: 79%;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html,
body {
  background: #000000;
  height: 100%;
  font-weight: 800;
}

body {
  background: rgb(0, 255, 111);
  background: radial-gradient(
      circle,
      rgba(0, 255, 111, 0.28335084033613445) 0%,
      rgba(0, 0, 0, 0) 48%,
      rgba(0, 0, 0, 0) 100%
  );

  font-family: Arial;
}

svg {
  display: block;
  font: 10.5em "Montserrat";
  width: 60vw;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #3fdd3f

  ;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #3fdd3f

  ;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #9abd00;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #00bd84;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #ffffff;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

.row2{
  transform: translateX(18vw);
  display: inline-block;
}
.row3{
  transform: translateX(43vw);
  display: inline-block;
}

.pagecont{
  width: 96%;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.svgalign{
  margin-top: -6%;
}
.tablealign{
  width: 96%;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}