footer{
	background-color: #111;
	text-align: center;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color:rgba(151, 151, 151,0.6);
	padding-top:10px;
	padding-bottom:8px;
	width:100%;
	font-size: 14px;
 }
.red{
  background-color:#ff0000;
  }
.orange{
  background-color:#FFA500;
  }
.green{
  background-color:#20B2AA;
  }
.blue{
  background-color:#40E0D0;
  }
.black{
  background-color:#000000;
  }
.bl{
  background-color:#000000;
  }
.ig{
  background-color:#4B0082;
  }
.dr{
  background-color:#8B0000;
  }
.dg{
  background-color:#006400;
  }
.ny{
  background-color:#000080;
  }
  #myImg {
border-radius: 21px;
cursor: pointer;
padding: 12px;
transition: 0.3s;
}

#myImg:hover {
opacity: 0.7;
}

.modal {
display: none;
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
}

#caption {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
text-align: center;
color: #ccc;
padding: 10px 0;
height: 150px;
}

.modal-content,
#caption {
animation-name: zoom;
animation-duration: 0.6s;
}

@keyframes zoom {
from {
transform: scale(0)
}
to {
transform: scale(1)
}
}

.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

@media only screen and (max-width: 700px) {
.modal-content {
width: 100%;
}
} 
.myImages:hover {
animation: shake 0.5s;

animation-iteration-count: 1.5;
}

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#logo{
position: fixed;
margin-top: -15%;
height:100px;
width:200px;  
}
/* body {
background-color: black;
} */

#nav-bar li {
font-size: 30px;
display: inline;
padding: 10px;
margin-left: 80px;
text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#nav-bar {
position: fixed;
top: 0px;
left: 300px;
right: 0px;
width: 1200px;
height: 80px;
backdrop-filter: blur(1px);
/* offset-x | offset-y | blur-radius | spread-radius | color */
box-shadow: rgb(0, 0, 0) 0px 22px 50px 4px;
}

.glow {
  font-size: 70px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #00ffaa, 0 0 40px #00ffaa, 0 0 50px #00ffaa, 0 0 60px #00ffaa, 0 0 70px #00ffaa, 0 0 80px #00ffaa;
  }
}
body{
  background-color: #000000;
}

.btn1{
	margin: 5pt;
	border-color: #00ffaa;
	color: #fff;
	height: 35px;
	width: 140px;
	border-radius: 10px;
}

.btn1:hover{
	cursor: pointer;
}
.btn1 a{
	text-decoration:none;
}
