#invoice {
    color: #fff;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  margin: auto;
  border-radius: 30px;
  background-color: rgb(27, 27, 27);
  box-shadow: 0px 0px 20px #2ee59c8a;
  padding: 2%;
}

#invoice-header {
  display: flex;
  position: relative;
  margin: auto;
  border-radius: 30px;
  background-color: rgb(27, 27, 27);
  box-shadow: 0px 0px 20px #2ee59c8a;
  padding: 2%;
}

#invoice-logo {
  position: relative;
  display: block;
  overflow: hidden;
}

#invoice-logo img {
  position: relative;
  width: 80%;
  border: 4px dashed #2ee59c;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  border-radius: 30px;
}

#invoice-info {
  position: relative;
  width: 100%;
}
#invoice-title {
  margin: 3% auto;
  font-size: 3.5rem;
  text-align: center;
}

#invoice-number {
  margin-left: 2%;
  margin-right: 2%;
}

#invoice-date {
  float: right;
  margin-left: 2%;
  margin-right: 2%;
}

#product-details {
  margin-top: 10px;
}

#invoice-footer {
    border-top: 2px dashed rgb(251, 255, 0);
  position: relative;
  text-align: center;
  margin-top: 10px;
}

#invoice-footer button{
    margin: auto 0.5vw;
}
