@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "poppins", sans-serif;
}

body {
  background-image: linear-gradient(315deg, black 0%, rgb(17, 71, 71) 100%);
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  align-items: center;
  height: 100vh;
}

#close-start {
  display: none;
}

#start {
  padding: 0 0 0 30px;
}

#start h2 {
  color: white;
  font-size: 5rem;
  transition: 500ms ease;
}

#Start-button {
  font-size: 2.2rem;
  background-color: white;
  border-radius: 10px;
  color: black;
  display: block;
  width: 10rem;
  cursor: pointer;
  font-family: inherit;
  padding: 1.3rem;
  margin-left: 28rem;
}

#start-button:hover {
  background-color: aqua;
}

#static-weak {
  background-image: linear-gradient(
    300deg,
    rgb(163, 50, 50) 0%,
    rgb(199, 82, 82) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#static-poor {
  background-image: linear-gradient(
    300deg,
    rgb(241, 118, 3) 0%,
    rgb(202, 137, 62) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#static-average {
  background-image: linear-gradient(
    300deg,
    rgb(241, 225, 3) 0%,
    rgb(209, 189, 77) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#static-good {
  background-image: linear-gradient(
    300deg,
    rgb(5, 73, 201) 0%,
    rgb(84, 140, 212) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#static-best {
  background-image: linear-gradient(
    300deg,
    rgb(8, 110, 47) 0%,
    rgb(71, 212, 125) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#quiz {
  display: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 20x rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

#quiz-start {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px 20x rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
  box-shadow: 23px white;
}

.quiz-header {
  padding: 4rem;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.answer-display {
  padding-bottom: 6px;
  font-size : 1.5rem;
}

ul li label {
  cursor: pointer;
}

#submit {
  background-color: limegreen;
  color: white;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.4rem;
}

button:hover {
  background-color: blue;
}

button:focus {
  outline: none;
  background-color: yellow;
}

#result {
  display: none;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 10px 20x rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

#active-result {
  margin-right: 32rem;
  height: auto;
  background-color: white;
  border-radius: 10px;
  width: 100rem
}

.answer-display{
  font-size: 1.5rem;
}

#User-score {
  display: inline;
  padding: 0 0 0 14rem;
  font-size: 7rem;
  color: purple;
}

#You-score {
  font-size: 3rem;
}

input {
  transform: scale(1.5);
}

#question {
  position: static;
  font-size: 35px;
  justify-content: right;
  margin-bottom: 20px;
}