* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/animal-images/pexels-pixabay-247431.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
}
