body{
    background-image: url(/images/animal-images/Leaves.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	max-width: 100%;
    height: auto;
	}
html,body{
	padding: 20px;
	max-width: 100%;
	overflow-x:hidden;
	}

#f01 {
    backdrop-filter: blur(1px);
    background-color:#9b9999;
}
#group1:hover ellipse{
	stroke: rgb(245, 2, 2);
}
#group2:hover circle{
	stroke: rgb(245, 2, 2);
}
#group3:hover ellipse{
	stroke: rgb(245, 2, 2);
}
#group4:hover circle{
	stroke: rgb(245, 2, 2);
}
#group5:hover circle{
	stroke: rgb(245, 2, 2);
}
#group6:hover circle{
	stroke: rgb(245, 2, 2);
}
#group7:hover circle{
	stroke: rgb(245, 2, 2);
}
#group8:hover circle{
	stroke: rgb(245, 2, 2);
}
img{
    margin-top:-2%;
    margin-left: -2%;
    position: fixed;
}