body {
  background-image: url(../images/animal-images/Leaves.jpg);
  background-size: cover;
  max-width: 1000vh;
  height: 100vh;
}
footer {
  background-color: #111;
  text-align: center;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: rgba(151, 151, 151, 0.6);
  padding-top: 10px;
  padding-bottom: 18px;
  width: 100%;
  font-size: 14px;
}
#goup1:hover ellipse {
  stroke: rgb(245, 2, 2);
}
#group2:hover circle {
  stroke: rgb(245, 2, 2);
}
#group3:hover ellipse {
  stroke: rgb(245, 2, 2);
}
#group4:hover circle {
  stroke: rgb(245, 2, 2);
}
#group5:hover circle {
  stroke: rgb(245, 2, 2);
}
#group6:hover circle {
  stroke: rgb(245, 2, 2);
}
#group7:hover circle {
  stroke: rgb(245, 2, 2);
}
#group8:hover circle {
  stroke: rgb(245, 2, 2);
}

.Svg{
  display: flex;
  justify-content: center;
}
