*{
    margin: 0;
    padding: 0;
  }
  
  h1, h2, p{
      color: rosybrown;
      padding: 10px;
  }
  
  @keyframes zoom{
      to { transform: scale(1.1); }
  }
  
  .glows {
      animation: glow .5s infinite alternate;
  }
  @keyframes glow {
      to {
          text-shadow: 0 0 15px #FF0000, 0 0 15px #F50057;
      }
  }
  
 
  
  #content {
    text-align: center;
  }
  